<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sci-Fi Stream</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<div class="wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img class="nav-ufo" src="../static/images/ufo.svg">
          Science Fiction         
        </a>
      </div>
    </div>
  </nav>
  <div class="hero text-center">
    <h1 style="color:white;">Sci-Fi Streaming Trends</h1>
    <p style="color:white;">The Truth is Out There</p>
  </div>
  <div class="container">
    
    <div class="row">

      <div class="col-md-12">
        <H1><center><div id="main_title"></div></center></H1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3><center>All Genres</center></h3>
      </div>
      <div class="col-md-2">
        <h3>&nbsp Sci-Fi</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p><br></p>
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Filter Search</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="date">Category</label>
                      <select name="Category" id="category">
                        <option value="all">All</option>
                        <option value="TV Show">TV Show</option>
                        <option value="Movie">Movie</option>
                      </select>
                    <li class="filter list-group-item">
                      <label for="date">Country</label>
                      <select name="Country" id="country">
                        <option value="all">All</option>
                        <option value="brazil">Brazil</option>
                        <option value="canada">Canada</option>
                        <option value="france">France</option>
                        <option value="germany">Germany</option>
                        <option value="india">India</option>
                        <option value="mexico">Mexico</option>
                        <option value="united-kingdom">United Kingdom</option>
                        <option value="united-states">United States</option>
                      </select>
                    <li class="filter list-group-item">
                      <label for="date">Generation</label>
                      <select name="Generation" id="generation">

                      </select>
                  </ul>
                </div>
     
              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-md-8">
        <div class="pre-scrollable">
        <div id="table-area" class="">
          <table id="show-table" class="table table-dark table-striped">
            <thead class="table-dark">
              <th><b>RANK</b></th>
              <th><b>TITLE</b></th>
              <th><b></b>CATEGORY</b></th>
              <th><b></b>PREMIERE</b></th>
              <th><b></b>GENRES</b></th>
              <th><b></b>VIEWS</b></th>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <br>
        <center>Women Top 5 </center>
        <table class="tabled" id="table_women">
          <thead class="table-dark">
            <th style="width:30px"><b>RANK</b></th>
            <th style="width:100px"><b>TITLE</b></th>
            <th><b>Views</b></th>

          </thead>
          <tbody></tbody>
        </table>
        <br><p></p>
        <center>Men Top 5</center>
        <table class="tabled" id="table_men">
          <thead class="table-dark">
            <th style="width:30px"><b>RANK</b></th>
            <th style="width:100px"><b>TITLE</b></th>
            <th><b>VIEWS</b></th>

          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
      <div class="row margin-top-50">
        <div class="col-md-7">
          <div id="f-pie-chart"></div>
        </div>   
        <div class="col-md-5">
          <div id="bar"></div>
        </div> 
    </div>
    <hr>
    <div class="row margin-top-50">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <center><h1>China UKid Streaming 2020</h1></center>
      </div>
    </div>
    <div class="row">
      <div class="col chart" id="chart1"></div>
    </div>

   


  </div>
  <footer class="footer">
    <span class="bottom">Science Fiction Streaming Trends - Data scraped from FlixPatrol - 2021</span>
  </footer>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="../static/app.js"></script>
<script src="../static/bar_graph.js"></script>


<body>
  
