<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UFO Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<div class="wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Global Streaming Trends
          <img class="nav-ufo" src="../static/images/ufo.svg">
        </a>
      </div>
    </div>
  </nav>
  <div class="hero text-center">
    <h1>Global Streaming Trends</h1>
    <p>The Truth is Out There</p>
  </div>
  <div class="container">
    <div class="row margin-top-50">
      <div class="col-md-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Filter Search</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="date">Enter a Date</label>
                      <!--<input class="form-control" id="datetime" type="text" placeholder="1/11/2011">-->
                      <input class="form-control" id="date-field" type="text" placeholder="1/11/2011">
                    <li class="filter list-group-item">
                      <li class="filter list-group-item">
                        <label for="date">Category</label>
                        <select name="Category" id="category">
                          <option value="all">All</option>
                          <option value="TV Show">TV Show</option>
                          <option value="Movie">Movie</option>
                          <option value="Franchise">Franchise</option>
                        </select>
                    <li class="filter list-group-item">
                      <label for="date">Country</label>
                      <select name="Country" id="country">
                        <option value="all">All</option>
                        <option value="brazil">Brazil</option>
                        <option value="canada">Canada</option>
                        <option value="france">France</option>
                        <option value="germany">Germany</option>
                        <option value="india">India</option>
                        <option value="mexico">Mexico</option>
                        <option value="united-kingdom">United Kingdom</option>
                        <option value="united-states">United States</option>
                      </select>
                    <li class="filter list-group-item">
                      <label for="date">Generation</label>
                      <select name="Generation" id="generation">
                        <option value="all">All</option>
                        <option value="baby-boomers">Baby Boomers</option>
                        <option value="generation-x">Generation X</option>
                        <option value="generation-y">Generation Y</option>
                        <option value="generation-z">Generation Z</option>
                      </select>
                    <li class="filter list-group-item">
                      <label for="date">Gender</label>
                      <select name="Gender" id="gender">
                        <option value="all">All</option>
                        <option value="men">Men</option>
                        <option value="women">Women</option>
                      </select>
                    </li>
                  </ul>
                </div>
                <button id="reset" type="button" class="btn btn-default">Reset Filters</button>
              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-md-10">
        <div id="table-area" class="">
          <table id="show-table" class="table table-striped">
            <thead></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <span class="bottom">UFO Sightings</span>
  </footer>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/data.js"></script>
<script src="../static/index.js"></script>


<body>
  
